# 예외 처리
프로그램을 만들다 보면 수없이 많은 오류를 만나게 된다. 물론 오류가 발생하는 이유는 프로그램이 잘못 동작하는 것을 막기 위한 파이썬의 배려이다. 이번에는 파이썬에서 오류를 처리하는 방법에 대해서 알아보자.

## 오류는 언제 발생하는가?
오류를 처리하는 방법을 공부하기 전에 어떤 상황에서 오류가 발생하는지 한번 알아보자. 오타를 입력했을 때 발생하는 구문 오류 같은 것이 아닌 실제 프로그램에서 자주 발생하는 오류를 중심으로 살펴보자.

0으로 다른 숫자를 나누는 경우를 생각해 보자. 이 역시 자주 발생하는 오류이다.

In [2]:
4 / 0

ZeroDivisionError: division by zero

4를 0으로 나누려고 하니 ZeroDivisionError 오류가 발생한다.

마지막으로 1가지 예를 더 들어 보자. 다음 오류는 정말 빈번하게 일어난다.

In [3]:
a = [1, 2, 3]
a[3]

IndexError: list index out of range

a[3]은 a의 네 번째 요솟값을 가리키는데, a 리스트에는 값이 3개밖에 없으므로([1, 2, 3]) 값을 얻을 수 없다. 따라서 IndexError 오류가 발생한다. 파이썬은 이런 오류가 발생하면 프로그램을 중단하고 오류 메시지를 보여 준다.

## 오류 예외 처리 기법
이제 유연한 프로그래밍을 위한 오류 처리 방법에 대해 알아보자.

### try-except 문
다음은 오류를 처리하기 위한 try-except 문의 기본 구조이다.

```python
try:
    ...
except [발생오류 [as 오류변수]]:
    ...
```
    
try 블록 수행 중 오류가 발생하면 except 블록이 수행된다. 하지만 try 블록에서 오류가 발생하지 않는다면 except 블록은 수행되지 않는다.

except 구문을 자세히 살펴보자.

> except [발생오류 [as 오류변수]]:

위 구문을 보면 []를 사용하는데, 이 기호는 괄호 안의 내용을 생략할 수 있다는 관례적인 표기법이다. 즉, except 구문은 다음 3가지 방법으로 사용할 수 있다.

1. try-except만 쓰는 방법

```python
try:
    ...
except:
    ...
```
    
이 경우에는 오류의 종류에 상관없이 오류가 발생하면 except 블록을 수행한다.

2. 발생 오류만 포함한 except 문

```python
try:
    ...
except 발생오류:
    ...
```    

이 경우는 오류가 발생했을 때 except 문에 미리 정해 놓은 오류와 동일한 오류일 경우에만 except 블록을 수행한다는 뜻이다.

3. 발생 오류와 오류 변수까지 포함한 except 문

```python
try:
    ...
except 발생오류 as 오류변수:
    ...
```    

이 경우는 두 번째 경우에서 오류의 내용까지 알고 싶을 때 사용하는 방법이다.

이 방법의 예를 들어 보면 다음과 같다.

In [5]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

위처럼 4를 0으로 나누려고 하면 ZeroDivisionError가 발생하여 except 블록이 실행되고 오류 변수 e에 담기는 오류 메시지를 출력할 수 있다. 출력되는 오류 메시지는 위와 같다.

### try-finally 문
try 문에는 finally 절을 사용할 수 있다. finally 절은 try 문 수행 도중 예외 발생 여부에 상관없이 항상 수행된다. 보통 finally 절은 사용한 리소스를 close해야 할 때 많이 사용한다.

다음 예를 살펴보자.

```python
try:
    f = open('foo.txt', 'w')
    # 무언가를 수행한다.

    (... 생략 ...)

finally:
    f.close()  # 중간에 오류가 발생하더라도 무조건 실행된다.
```
    
foo.txt 파일을 쓰기 모드로 연 후 예외 발생 여부에 상관없이 항상 파일을 닫아 주려면 try-finally 문을 사용하면 된다.

### 여러 개의 오류 처리하기
try 문 안에서 여러 개의 오류를 처리하려면 다음과 같이 사용해야 한다.

```python
try:
    ...
except 발생오류1:
   ... 
except 발생오류2:
   ...
```
    
즉, 0으로 나누는 오류와 인덱싱 오류를 다음과 같이 처리할 수 있다.

In [7]:
try:
    a = [1,2]
    print(a[3])
    4/0
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except IndexError:
    print("인덱싱 할 수 없습니다.")

인덱싱 할 수 없습니다.

a는 2개의 요솟값을 가지고 있으므로 a[3]이 IndexError를 발생시켜 "인덱싱할 수 없습니다."라는 문자열을 출력할 것이다. 인덱싱 오류가 먼저 발생했으므로 4 / 0에 따른 ZeroDivisionError 오류는 발생하지 않는다.

앞에서 알아본 것과 마찬가지로 오류 메시지도 다음과 같이 확인할 수 있다.

In [8]:
try:
    a = [1,2]
    print(a[3])
    4/0
except ZeroDivisionError as e:
    print(e)
except IndexError as e:
    print(e)

list index out of range


프로그램을 실행하면 ‘list index out of range’라는 오류 메시지가 출력될 것이다.

다음과 같이 ZerroDivisionError와 IndexError를 함께 처리할 수도 있다.

In [10]:
try:
    a = [1,2]
    print(a[3])
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

list index out of range

2개 이상의 오류를 동일하게 처리하기 위해서는 위와 같이 괄호를 사용하여 함께 묶어 처리하면 된다.


### try-else 문
try 문에는 다음처럼 else 절을 사용할 수도 있다.

```python
try:
    ...
except [발생오류 [as 오류변수]]:
    ...
else:  # 오류가 없을 경우에만 수행
    ...
```
    
try 문 수행 중 오류가 발생하면 except 절, 오류가 발생하지 않으면 else 절이 수행된다.

다음은 try 문에 else 절을 사용한 간단한 예제이다.

In [12]:
try:
    age=int(input('나이를 입력하세요: '))
except:
    print('입력이 정확하지 않습니다.')
else:
    if age <= 18:
        print('미성년자는 출입금지입니다.')
    else:
        print('환영합니다.')

나이를 입력하세요:  ㅁ

입력이 정확하지 않습니다.

   만약 '나이를 입력하세요: '라는 질문에 숫자가 아닌 다른 값을 입력하면 오류가 발생하여 '입력이 정확하지 않습니다.'라는 문장을 출력한다. 오류가 없을 경우에만 else 절이 수행된다.

## 오류 회피하기
코드를 작성하다 보면 특정 오류가 발생할 경우 그냥 통과시켜야 할 때가 있다. 다음 예를 살펴보자.

In [13]:
try:
    f = open("나없는파일", 'r')
except FileNotFoundError:
    pass

try 문 안에서 FileNotFoundError가 발생할 경우, pass를 사용하여 오류를 그냥 회피하도록 작성한 예제이다.

## 오류 일부러 발생시키기
이상하게 들리겠지만, 프로그래밍을 하다 보면 종종 오류를 일부러 발생시켜야 할 경우도 생긴다. 파이썬은 raise 명령어를 사용해 오류를 강제로 발생시킬 수 있다.

예를 들어 Bird 클래스를 상속받는 자식 클래스는 반드시 fly라는 함수를 구현하도록 만들고 싶은 경우(강제로 그렇게 하고 싶은 경우)가 있을 수 있다. 다음 예를 살펴보자.

In [14]:
class Bird:
    def fly(self):
        raise NotImplementedError

Bird 클래스를 상속받는 자식 클래스는 반드시 fly 함수를 구현해야 한다는 의지를 보여 준다. 만약 자식 클래스가 fly 함수를 구현하지 않은 상태로 fly 함수를 호출한다면 어떻게 될까?

NotImplementedError는 파이썬에 이미 정의되어 있는 오류로, 꼭 작성해야 하는 부분이 구현되지 않았을 경우 일부러 오류를 발생시키기 위해 사용한다.

In [15]:
class Eagle(Bird):
    pass

eagle = Eagle()
eagle.fly()

NotImplementedError:


Eagle 클래스는 Bird 클래스를 상속받았다. 그런데 Eagle 클래스는 fly 메서드를 오버라이딩하여 구현하지 않았다. 따라서 eagle 객체의 fly 메서드를 수행하는 순간 Bird 클래스의 fly 메서드가 수행되어 NotImplementedError가 발생한다.

상속받는 클래스에서 메서드를 재구현하는 것을 ‘메서드 오버라이딩’이라고 한다.

NotImplementedError가 발생하지 않게 하려면 다음과 같이 Eagle 클래스에 fly 함수를 구현해야 한다.

In [16]:
class Eagle(Bird):
    def fly(self):
        print("very fast")

eagle = Eagle()
eagle.fly()

very fast

위 예처럼 fly 함수를 구현한 후 프로그램을 실행하면 오류 없이 다음 문장이 출력된다.

## 예외 만들기
프로그램을 수행하다가 특수한 경우에만 예외 처리를 하려고 종종 예외를 만들어서 사용한다. 이번에는 직접 예외를 만들어 보자.

예외는 다음과 같이 파이썬 내장 클래스인 Exception 클래스를 상속하여 만들 수 있다.

In [17]:
class MyError(Exception):
    pass

그리고 별명을 출력하는 함수를 다음과 같이 작성해 보자.

In [18]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

그리고 다음과 같이 say_nick 함수를 호출해 보자.

In [19]:
say_nick("천사")
say_nick("바보")

천사

MyError:

저장한 후 프로그램을 실행해 보면 다음과 같이 "천사"가 한 번 출력된 후 MyError가 발생한다.

이번에는 예외 처리 기법을 사용하여 MyError 발생을 예외 처리해 보자.

In [20]:
try:
    say_nick("천사")
    say_nick("바보")
except MyError:
    print("허용되지 않는 별명입니다.")

천사
허용되지 않는 별명입니다.

프로그램을 실행하면 위와 같이 출력된다.

만약 오류 메시지를 사용하고 싶다면 다음처럼 예외 처리를 하면 된다.

In [21]:
try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e)

천사

하지만 프로그램을 실행해 보면 print(e)로 오류 메시지가 출력되지 않는 것을 확인할 수 있다. 오류 메시지를 출력했을 때 오류 메시지가 보이게 하려면 오류 클래스에 다음과 같은 __str__ 메서드를 구현해야 한다. __str__ 메서드는 print(e)처럼 오류 메시지를 print 문으로 출력할 경우에 호출되는 메서드이다.

In [22]:
class MyError(Exception):
    def __str__(self):
        return "허용되지 않는 별명입니다."

프로그램을 다시 실행해 보면 "허용되지 않는 별명입니다."라는 오류 메시지가 출력되는 것을 확인할 수 있을 것이다.'

In [23]:
try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e)

천사
허용되지 않는 별명입니다.

# 내장 함수
지금까지 파이썬으로 프로그래밍하기 위해 알아야 하는 것들을 대부분 공부했다. 이제 여러분은 원하는 프로그램을 직접 만들 수 있을 것이다. 하지만 그 전에 먼저 여러분이 만들려는 프로그램이 이미 만들어져 있는지 살펴보기 바란다.

물론 공부를 위해서라면 누군가 만들어 놓은 프로그램을 또 만들 수도 있다. 하지만 그런 목적이 아니라면 이미 만들어진 것을 다시 만드는 것은 불필요한 행동이다. 그리고 이미 만들어진 프로그램은 테스트 과정을 수없이 거쳤기 때문에 충분히 검증되어 있다. 따라서 무엇인가 새로운 프로그램을 만들기 전에는 이미 만들어진 것들, 그중에서도 특히 파이썬 배포본에 함께 들어 있는 파이썬 라이브러리를 살펴보는 것이 매우 중요하다.

<img src="https://wikidocs.net/images/page/32/05_5_reinvent_wheel.png">

"이미 있는 것을 다시 만드느라 시간을 낭비하지 말라."

라이브러리를 살펴보기 전에 파이썬 내장(built-in) 함수를 먼저 살펴보자. 우리는 이미 몇 가지 내장 함수를 배웠다. print, del, type 등이 바로 그것이다. 이러한 파이썬 내장 함수는 파이썬 모듈과 달리 import가 필요하지 않기 때문에 아무런 설정 없이 바로 사용할 수 있다.

이 책에서는 활용 빈도가 높고 중요한 함수를 중심으로 알파벳 순서대로 간략히 정리했다. 파이썬으로 프로그래밍을 하기 위해 이들 함수를 지금 당장 모두 알아야 하는 것은 아니므로 가벼운 마음으로 천천히 살펴보자.

## abs
abs(x)는 어떤 숫자를 입력받았을 때 그 숫자의 절댓값을 리턴하는 함수이다.

In [24]:
abs(3)

3

In [25]:
abs(-3)

3

In [26]:
abs(-1.2)

1.2

## all
all(x)는 반복 가능한 데이터 x를 입력값으로 받으며 이 x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴한다.

> 반복 가능한 데이터란 for 문에서 사용할 수 있는 자료형을 의미한다. 리스트, 튜플, 문자열, 딕셔너리, 집합 등이 있다.

다음 예를 살펴보자.

In [27]:
all([1, 2, 3])

True

리스트 [1, 2, 3]은 모든 요소가 참이므로 True를 리턴한다.

In [28]:
all([1, 2, 3, 0])

False

리스트 [1, 2, 3, 0] 중에서 요소 0은 거짓이므로 False를 리턴한다.

In [29]:
all([])

True

만약 all의 입력 인수가 빈 값인 경우에는 True를 리턴한다.

> 자료형의 참과 거짓은 02-7을 참고하기 바란다.

## any
any(x)는 반복 가능한 데이터 x를 입력으로 받아 x의 요소 중 하나라도 참이 있으면 True를 리턴하고 x가 모두 거짓일 때만 False를 리턴한다. 즉, all(x)의 반대로 작동한다.

다음 예를 살펴보자.

In [30]:
any([1, 2, 3, 0])

True

리스트 [1, 2, 3, 0] 중에서 1, 2, 3이 참이므로 True를 리턴한다.

In [31]:
any([0, ""])

False

리스트 [0, ""]의 요소 0과 ""은 모두 거짓이므로 False를 리턴한다.

In [32]:
any([])

False

만약 any의 입력 인수가 빈 값인 경우에는 False를 리턴한다.

## divmod
divmod(a, b)는 2개의 숫자 a, b를 입력으로 받는다. 그리고 a를 b로 나눈 몫과 나머지를 튜플로 리턴한다.

In [33]:
divmod(7, 3)

(2, 1)

몫을 구하는 연산자 //와 나머지를 구하는 연산자 %를 각각 사용한 결과와 비교해 보자.

In [34]:
7 // 3, 7 % 3

(2, 1)

## enumerate
enumerate는 ‘열거하다’라는 뜻이다. 이 함수는 순서가 있는 데이터(리스트, 튜플, 문자열)를 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다.

> 보통 enumerate 함수는 for 문과 함께 사용한다.

다음 예를 살펴보자.

In [35]:
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

인덱스 값과 함께 body, foo, bar가 순서대로 출력되었다. 즉, enumerate를 for 문과 함께 사용하면 자료형의 현재 순서index와 그 값을 쉽게 알 수 있다.

for 문처럼 반복되는 구간에서 객체가 현재 어느 위치에 있는지 알려 주는 인덱스 값이 필요할 때 enumerate 함수를 사용하면 매우 유용하다.

## eval
eval(expression)은 문자열로 구성된 표현식을 입력으로 받아 해당 문자열을 실행한 결괏값을 리턴하는 함수이다.

In [36]:
eval('1+2')

3

In [37]:
eval("'hi' + 'a'")

'hia'

In [38]:
eval('divmod(4, 3)')

(1, 1)

## filter
filter란 ‘무엇인가를 걸러 낸다’라는 뜻으로, filter 함수도 이와 비슷한 기능을 한다.

```python
filter(함수, 반복_가능한_데이터)
```

filter 함수는 첫 번째 인수로 함수, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 데이터를 받는다. 그리고 반복 가능한 데이터의 요소 순서대로 함수를 호출했을 때 리턴값이 참인 것만 묶어서(걸러 내서) 리턴한다.

다음 예를 살펴보자.

In [39]:
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

위에서 만든 positive는 리스트를 입력으로 받아 각각의 요소를 판별해서 양수 값만 리턴하는 함수이다.

filter 함수를 사용하면 위 내용을 다음과 같이 간단하게 작성할 수 있다.

In [41]:
def positive(x):
    return x > 0

list(filter(positive, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

filter(positive, [1, -3, 2, 0, -5, 6])은 [1, -3, 2, 0, -5, 6]의 각 요솟값을 순서대로 positive 함수에 적용하여 리턴값이 참인 것만 묶어서 리턴한다. 즉, 1, 2, 6 요소만 x > 0 문장에 참이 되므로 [1, 2, 6]이라는 결괏값이 출력된다.

> list 함수는 filter 함수의 리턴값을 리스트로 출력하기 위해 사용했다.

이 예제는 lambda를 사용하면 더욱 간단해진다.

In [42]:
list(filter(lambda x: x>0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

### 예제
- 다음 리스트에서 300보다 큰 값을 찾아 새로운 리스트로 만들어라

In [111]:
numbers = [100, 200, 300, 400, 500]

[400, 500]

## id
id(object)는 객체를 입력받아 객체의 고유 주솟값(레퍼런스)을 리턴하는 함수이다.

In [43]:
a = 3
id(3)

131463438123312

In [44]:
id(a)

131463438123312

In [45]:
b = a
id(b)

131463438123312

## input
input([prompt])는 사용자 입력을 받는 함수이다. 입력 인수로 문자열을 전달하면 그 문자열은 프롬프트가 된다.

> []는 괄호 안의 내용을 생략할 수 있다는 관례 표기법이라는 것을 기억하자.

In [46]:
a = input()

 hi

In [47]:
a

'hi'

In [48]:
b = input("Enter: ")

Enter:  hi

In [49]:
b

'hi'

## int
int(x)는 문자열 형태의 숫자나 소수점이 있는 숫자를 정수로 리턴하는 함수이다. 만약 정수가 입력되면 그대로 리턴한다.

In [50]:
int('3')

3

In [51]:
int(3.4)

3

## len
len(s)는 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수이다.

In [52]:
len("python")

6

In [53]:
len([1,2,3])

3

In [54]:
len((1, 'a'))

2

## list
list(iterable)은 반복 가능한 데이터를 입력받아 리스트로 만들어 리턴하는 함수이다.

In [55]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [56]:
list((1,2,3))

[1, 2, 3]

list 함수에 리스트를 입력하면 똑같은 리스트를 복사하여 리턴한다.

In [57]:
a = [1, 2, 3]
b = list(a)
b

[1, 2, 3]

## map
map(f, iterable)은 함수(f)와 반복 가능한 데이터를 입력으로 받는다. map은 입력받은 데이터의 각 요소에 함수 f를 적용한 결과를 리턴하는 함수이다.

다음 예를 살펴보자.

In [58]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

two_times는 리스트를 입력받아 리스트의 각 요소에 2를 곱해 리턴하는 함수이다. 실행 결과는 위와 같다.

위 예제는 map 함수를 사용하여 다음처럼 바꿀 수 있다.

In [59]:
def two_times(x): 
    return x*2

list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

이 예제를 해석해 보자. 먼저 리스트의 첫 번째 요소인 1이 two_times 함수의 입력값으로 들어가고 1 * 2의 과정을 거쳐서 2가 된다. 다음으로 리스트의 두 번째 요소인 2가 2 * 2의 과정을 거쳐 4가 된다. 따라서 결괏값은 이제 [2, 4]가 된다. 총 4개의 요솟값이 모두 수행되면 [2, 4, 6, 8]이 된다. 이것이 map 함수가 하는 일이다.

> map 함수의 결과를 리스트로 출력하기 위해 list 함수를 사용했다. map 함수는 map 객체를 리턴한다.

앞의 예는 lambda를 사용하여 다음처럼 간략하게 만들 수 있다.

In [60]:
list(map(lambda a: a*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

## max
max(iterable)은 인수로 반복 가능한 데이터를 입력받아 그 최댓값을 리턴하는 함수이다.

In [61]:
max([1, 2, 3])

3

In [62]:
max("python")

'y'

## min
min(iterable)은 max 함수와 반대로, 인수로 반복 가능한 데이터를 입력받아 그 최솟값을 리턴하는 함수이다.

In [63]:
min([1, 2, 3])

1

In [64]:
min("python")

'h'

## range
range([start,] stop [,step])은 for 문과 함께 자주 사용하는 함수이다. 이 함수는 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로 만들어 리턴한다.

### 인수가 하나일 경우
시작 숫자를 지정해 주지 않으면 range 함수는 0부터 시작한다.

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

### 인수가 2개일 경우
입력으로 주어지는 2개의 인수는 시작 숫자와 끝 숫자를 나타낸다. 단, 끝 숫자는 해당 범위에 포함되지 않는다는 것에 주의하자.

In [66]:
list(range(5, 10))

[5, 6, 7, 8, 9]

### 인수가 3개일 경우
세 번째 인수는 숫자 사이의 거리를 말한다.

In [67]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [68]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

## round
round(number [,ndigits])는 숫자를 입력받아 반올림해 리턴하는 함수이다.

> [,ndigits]는 ndigits가 있을 수도 있고, 없을 수도 있다는 의미이다.

In [69]:
round(4.6)

5

In [70]:
round(4.2)

4

다음과 같이 실수 5.678을 소수점 2자리까지만 반올림하여 표시할 수 있다.

In [71]:
round(5.678, 2)

5.68

round 함수의 두 번째 인수는 반올림하여 표시하고 싶은 소수점의 자릿수(ndigits)를 의미한다.

## sorted
sorted(iterable)는 입력 데이터를 정렬한 후 그 결과를 리스트로 리턴하는 함수이다

In [72]:
sorted([3, 1, 2])

[1, 2, 3]

In [73]:
sorted(['a', 'c', 'b'])

['a', 'b', 'c']

In [74]:
sorted("zero")

['e', 'o', 'r', 'z']

In [75]:
sorted((3, 2, 1))

[1, 2, 3]

리스트 자료형에도 sort 함수가 있다. 하지만 리스트 자료형의 sort 함수는 리스트 객체 그 자체를 정렬만 할 뿐, 정렬된 결과를 리턴하지는 않는다.

## str
str(object)는 문자열 형태로 객체를 변환하여 리턴하는 함수이다.

In [76]:
str(3)

'3'

In [77]:
str('hi')

'hi'

### str.upper()
소문자를 대문자로 바꾸는 함수

In [89]:
str.upper('hi')

'HI'

## sum
sum(iterable)은 입력 데이터의 합을 리턴하는 함수이다.

In [78]:
sum([1,2,3])

6

In [80]:
sum((4,5,6))

15

### 예제
다음 리스트의 [1, 2, 3, 4, 5, 6, 7, 8, 9] 평균을 구하라

In [115]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

5.0

## zip
zip(*iterable)은 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수이다.

> 여기서 사용한 *iterable은 반복 가능한 데이터를 여러 개 입력할 수 있다는 의미이다.

다음 예제로 사용법을 확인해 보자.

In [81]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [82]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [83]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

for 와 함께 쓰이는 경우가 많다.

In [85]:
for k, v in zip(['a', 'b', 'c'], [4, 5, 6]):
    print(k, v)

a 4
b 5
c 6

## math.sqrt
숫자의 제곱근을 구하는 함수

In [93]:
import math

math.sqrt(4)

2.0

In [94]:
math.sqrt(9)

3.0

In [95]:
from math import sqrt

In [96]:
sqrt(16)

4.0

# 문제

### 문제 1
- **문제**: 리스트 `['hello', 'world', 'python', 'is', 'fun']`에서 문자열의 길이가 4 이상인 단어들을 대문자로 변환하여 리스트로 출력하는 코드를 작성하세요.

In [90]:
words = ['hello', 'world', 'python', 'is', 'fun']
long_words = filter(lambda x: len(x) >= 4, words)
upper_words = list(map(, long_words))
print(upper_words)  # 출력: ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']



### 문제 2
- **문제**: 두 리스트 `[10, 20, 30]`과 `[1, 2, 3]`의 각 요소의 곱을 구하고 그 결과를 리스트로 출력하는 코드를 작성하세요.
- **답**:

In [101]:
list1 = [10, 20, 30]
list2 = [1, 2, 3]
products = list(map(, list1, list2))
print(products)  # 출력: [10, 40, 90]

[10, 40, 90]

### 문제 3
- **문제**: 리스트 `[4, 9, 16, 25, 36]`의 요소들을 제곱근으로 변환하고, 그 결과를 정렬하여 리스트로 출력하는 코드를 작성하세요.
- **힌트**: 제곱근 구하는 함수는 math.sqrt
- **답**:

In [100]:
import math
numbers = [4, 9, 16, 25, 36]
sqrt_numbers = list(map(, numbers))
sorted_sqrt_numbers = sorted(sqrt_numbers)
print(sorted_sqrt_numbers)  # 출력: [2.0, 3.0, 4.0, 5.0, 6.0]

[2.0, 3.0, 4.0, 5.0, 6.0]

### 문제 4
- **문제**: 문자열 리스트 `['123', '456', '789']`에서 각 문자열을 정수로 변환한 후, 각 정수의 제곱을 구하여 리스트로 출력하는 코드를 작성하세요.
- **답**:

In [99]:
str_numbers = ['123', '456', '789']
int_numbers = list()
squared_numbers = list(map(lambda x: x ** 2, int_numbers))
print(squared_numbers)  # 출력: [15129, 207936, 622521]

[15129, 207936, 622521]

### 문제 5
- **문제**: 두 리스트 `[3, 6, 9]`과 `[2, 4, 6]`의 요소별로 나눈 몫을 구하고, 각 몫의 합을 출력하는 코드를 작성하세요.
- **답**:

In [102]:
list1 = [3, 6, 9]
list2 = [2, 4, 6]
quotients = list(map(lambda x, y: , list1, list2))
total_quotients = sum(quotients)
print(total_quotients)  # 출력: 4

3

### 문제 6
- **문제**: 두 리스트 `[10, 20, 30, 40]`과 `[5, 15, 25, 35]`에서 각 요소의 차이를 구하고, 그 중 최대값을 출력하는 코드를 작성하세요.
- **답**:

In [103]:
list1 = [10, 20, 30, 40]
list2 = [5, 15, 25, 35]
differences = list(map(lambda x, y: , list1, list2))
max_difference = max(differences)
print(max_difference)  # 출력: 5

5

### 문제 7
- **문제**: 리스트 `['one', 'two', 'three', 'four']`의 각 문자열의 길이를 구하고, 그 중 최소값을 출력하는 코드를 작성하세요.
- **답**:

In [104]:
words = ['one', 'two', 'three', 'four']
lengths = 
min_length = min(lengths)
print(min_length)  # 출력: 3

3

### 문제 8
- **문제**: 리스트 `[5, 10, 15, 20, 25]`에서 짝수 요소들만 추출하여 역순으로 정렬하는 코드를 작성하세요.
- **답**:

In [105]:
numbers = [5, 10, 15, 20, 25]
even_numbers = 
sorted_even_numbers = sorted(even_numbers, reverse=True)
print(sorted_even_numbers)  # 출력: [20, 10]

[20, 10]

### 문제 9
- **문제**: 리스트 `['apple', 'banana', 'cherry']`의 각 문자열을 뒤집고, 그 결과를 오름차순으로 정렬하여 출력하는 코드를 작성하세요.
- **힌트**: 리스트 x 뒤집기 x[::-1]
- **답**:

In [107]:
words = ['apple', 'banana', 'cherry']
reversed_words = list(map(lambda x: , words))
sorted_reversed_words = sorted(reversed_words)
print(sorted_reversed_words)  # 출력: ['ananab', 'elppa', 'yrrehc']

['ananab', 'elppa', 'yrrehc']

### 문제 10
- **문제**: 두 리스트 `[1, 2, 3]`과 `[4, 5, 6]`의 요소별로 더한 값을 구하고, 그 값들이 모두 짝수인지 확인하는 코드를 작성하세요.
- **답**:

In [108]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
summed_values = 
all_even = all(map(lambda x: x % 2 == 0, summed_values))
print(all_even)  # 출력: False

False

### 문제 11
- **문제**: 리스트 `[100, 200, 300, 400, 500]`의 요소 중 300보다 큰 값들을 찾아 그 값들의 평균을 출력하는 코드를 작성하세요.
- **답**:

In [109]:
numbers = [100, 200, 300, 400, 500]
greater_than_300 = 
average = sum(greater_than_300) / len(greater_than_300)
print(average)  # 출력: 450.0

450.0

### 문제 12
- **문제**: 리스트 `[1, 4, 9, 16, 25, 36]`의 요소 중 홀수인 값들을 제곱하여 리스트로 출력하는 코드를 작성하세요.
- **답**:

In [112]:
numbers = [1, 4, 9, 16, 25, 36]
odd_numbers_squared = 
print(odd_numbers_squared)  # 출력: [1, 81, 625]

[1, 81, 625]

### 문제 13
- **문제**: 문자열 리스트 `['10.5', '20.1', '30.6']`에서 각 문자열을 실수로 변환하고, 그 값들의 합을 출력하는 코드를 작성하세요.
- **답**:

In [113]:
str_numbers = ['10.5', '20.1', '30.6']
float_numbers = 
total = sum(float_numbers)
print(total)  # 출력: 61.2

61.2

### 문제 14
- **문제**: 두 리스트 `[1, 2, 3]`과 `[4, 5, 6]`의 각 요소를 곱한 후, 그 값들의 평균을 출력하는 코드를 작성하세요.
- **답**:

In [114]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
products = 
average = sum(products) / len(products)
print(average)  # 출력: 10.0

10.666666666666666

### 문제 17
- **문제**: 리스트 `[1, 2, 3, 4, 5, 6, 7, 8, 9]`에서 짝수만 추출하여 그 값들을 제곱한 리스트를 출력하는 코드를 작성하세요.
- **답**:

In [116]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_squares = 
print(even_squares)  # 출력: [4, 16, 36, 64]

[4, 16, 36, 64]



  ```python

  ```